<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Tabs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tabs</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content> -->

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="explore-places">
        <ion-icon name="business"></ion-icon>
        Explore Places
      </ion-tab-button>
      <ion-tab-button tab="offer-places">
        <ion-icon name="gift-sharp"></ion-icon>
        Offer Places
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
